<!--<h1>{{"HOME" | translate}}</h1>-->
<!--<div>-->
<!--  <button (click)="translate.use('en')">EN</button>-->
<!--  <button (click)="translate.use('am')">AM</button>-->
<!--  <button (click)="translate.use('ru')">RU</button>-->
<!--</div>-->

<div>
  <h1>
    {{"NASA BROWSER" | translate}}
  </h1>
  <nav>
    <ul id="menu">
      <li>
        <a routerLink="/" routerLinkActive="active">
          {{"HOME" | translate}}
        </a> <span>|</span>
      </li>
      <li>
        <a routerLink="/asteroids" routerLinkActive="active">
          {{"NEARBY ASTEROIDS" | translate}}
        </a> <span>|</span>
      </li>
      <li>
        <a routerLink="/apod" routerLinkActive="active">
          {{"ASTRONOMY PICTURE OF THE DAY" | translate}}
        </a> <span>|</span>
      </li>
      <li>
        <a routerLink="/submit-planet" routerLinkActive="active">
          {{"SUBMIT NEW PLANET" | translate}}
        </a>
      </li>
    </ul>


    <ul className="lang-bar">



      <li>
        <a href="#" (click)="translate.use('en')">EN</a> <span>|</span>
      </li>
      <li>
        <a href="#" (click)="translate.use('ru')">РУ</a> <span>|</span>
      </li>
      <li>
        <a href="#" (click)="translate.use('am')">ՀՅ</a>
      </li>
    </ul>
  </nav>

<h1>NEARBY ASTEROIDS</h1>


  <div class="section">
    <p>Search for Asteroids based on their closest approach date to Earth</p>


    <input type="date" #inputElementStart>
    <input type="date" #inputElementEnd>
    <button (click)="addDate(inputElementStart.value, inputElementEnd.value)">GO</button>


    <div>

      <div *ngFor="let data of response?.near_earth_objects; let i = index">
        <div *ngFor="let resDate of data[i]">
            <span>{{resDate[0].id}}</span>
        </div>
      </div>
    </div>

    <div>
<!--      <span>{{response.explanation}}</span>-->
<!--      <img [src]="response.url" alt="">-->
    </div>
  <footer>
    © 2016
  </footer>
</div>
